body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    color: white;
}

.container {
    max-width: 800px;
    min-height: 520px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('img/background.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.character-health {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.character-image {
    width: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.health-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.health-bar {
    width: 200px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.health {
    height: 100%;
    background-color: green;
    width: 100%;
    transition: width 0.3s ease-in-out;
}

#question-container {
    margin: 20px 0;
}

.option {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.option:hover {
    background-color: #0056b3;
}

.A1 {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.A2 {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.B1 {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.B2 {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color:green;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}


.reset-btn {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 4px 10px 10px;
    background-color: purple;
    color: black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 0.2em purple;
    cursor: pointer;
}